html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*-------Variables------------*/
:root {
  /*----Fonts----*/
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin", cursive;
  --Lexend: "Lexend", cursive;
  --Livvic: "Livvic", cursive;

  /*----Colors----*/
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --mid-night: #104f55;

  /*----Gradient Colors----*/
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
/*----x--Variables--x---------*/

/*-------Global Classes-------*/
a {
  text-decoration: none;
  color: var(--text-gray);
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}
/*---x---Global Classes---x---*/

/*----------Navbar-------*/
.nav {
  background-color: #fff;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--Lexend);
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-size: 1.1rem;
  font-family: var(--Abel);
}

.nav .social {
  padding: 1.4rem 0;
}

.nav .nav-items .nav-link:hover {
  background-color: var(--mid-night);
}

.nav .nav-items .nav-link:hover a {
  color: var(--white);
}

.nav .social i {
  padding: 0 0.2rem;
}

.nav .social i:hover {
  color: #a1c4cf;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: var(--text-gray);
}

/*-------x--Navbar--x----*/

/*--------Viewport less than or equal to 750px-----------*/
@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: block;
  }
}
/*---x----Viewport less than or equal to 750px----x------*/
